<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
	<link rel="stylesheet" href="/scss/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:wght@252&family=Marhey:wght@300&family=Nunito+Sans:ital,opsz@0,6..12;1,6..12&family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <h1>
        <a class="vyber" href="/">Anglické růže David Austin ®</a>
        </h1>
   
    <main>
        <section class="panel">
            <nav>
               
                <a class="vyber" href="/">Domů</a>
                <a class="vyber" href="/inspirace">Rady a inspirace</a>
                <a class="vyber" href="/fotogalerie">Fotogalerie</a>
                <a class="vyber" href="/omne">O mně</a>
                
           </nav>
        </section>
 </header>
{{ content | safe }}
            </main>
    <footer>
         <div class="footer-content">
        <p>&copy; 2024 David Austin Roses Webpage by Zuzana Benkova</p>
      
    </div>
    </footer>
</body>
</html>